body {
  font-family: Arial, sans-serif;
  background-color: white ;
  padding: 20px;
}


header {
  background-color: white ;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  color: #333;
}

#search-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(38, 4, 4, 0.1);
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

#search-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: cornflowerblue;
  color: #fff;
  border: solid 1px cornflowerblue;
  border-radius: 10px;
  cursor: pointer;
}

#history-list {
  list-style: none;
  padding: 10;
  margin: 0;
}

.list-group {
  background-color: #fff;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#today {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px #ccc;
   display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px -10px;
}

#today h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

#today p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

#today .temp {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

#today img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/*#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}*/

#forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px -10px;
}

.card {
  flex: 0 0 auto;
  width: 220px;
  margin: 0 10px;
}
